* {
  color: white;
}

body {
  /* text-align: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
}



/* for input */

#url {
  width: 50vw;
  height: 40px;
  padding: 7px 30px;
  font-size: larger;
  border-radius: 40px;
  border: 1px solid #3e3d3d;
  background-color: #1a1919;
}

#url:focus {
  outline: none;
}

/* end */



/* Cat container */

.start-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-bottom: 15px;
  font-size: large;
}

/* end */



/* Output div */

.output {
  width: 80vw;
  /* min-height: 50vh; */
  padding: 10px;
  overflow: auto;
  margin-top: 30px;
  font-size: larger;
  border: 1px solid #534e4e;
}

/* end */



/* Loading container */

.loading {
  display: none;
}

.loading > .output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 50px;
}

/* end */